*.pdf
MedleyDB_sample/
Python_code/.ipynb_checkpoints/
Python_code/.idea/
deep_karaoke_code/training/training_file.mat
.dropbox
Python_code/train_data.pckl
Python_code/MNIST_data/
Python_code/my_csv.csv
Python_code/MNIST-data/t10k-labels-idx1-ubyte.gz
Python_code/MNIST-data/
